<div class="data-table-container main-section__content">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr class="text-center">
                <th>Attribute</th>
                <td>Value</td>
                <td>Usage</td>
                <td>Output</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>service</th>
                <td><code>baconmockup</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;baconmockup&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="baconmockup"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>size</th>
                <td><code>250x250</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;baconmockup&quot; size=&quot;200x300&quot;&gt;&lt;/fill-image&gt;</code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;baconmockup&quot; size=&quot;250&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="baconmockup" size="200x300"></fill-image>
                    <br>
                    <fill-image service="baconmockup" size="250"></fill-image>
                    
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
