<h2 class="main-section__title"><a href="http://dummyimage.com/" target="_blank">dummyimage.com</a></h2>
<div class="data-table-container main-section__content">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr class="text-center">
                <th>Attribute</th>
                <td>Value</td>
                <td>Usage</td>
                <td>Output</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <th>service</th>
                <td><code>dummyimage</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;dummyimage&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="dummyimage"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>size</th>
                <td><code>200</code> or <code>250x250</code></td>
                <td><code>&lt;fill-image service=&quot;dummyimage&quot; size=&quot;200&quot;&gt;&lt;/fill-image&gt; </code>
                    <br><br>
                    <code>&lt;fill-image service=&quot;dummyimage&quot; size=&quot;100x150&quot;&gt;&lt;/fill-image&gt;</code>
                    <br><br>
                    <code>&lt;fill-image service=&quot;dummyimage&quot; size=&quot;120x4:3&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="dummyimage" size="200"></fill-image>
                    <br>
                    <br>
                    <fill-image service="dummyimage" size="100x150"></fill-image>
                    <br>
                    <br>
                    <fill-image service="dummyimage" size="120x4:3"></fill-image>
                </td>
            </tr>
             <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>text</th>
                <td><code>random text</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;dummyimage&quot; text=&quot;fill-image is awesome!!&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="dummyimage" text="fill-image is awesome!!"></fill-image>
                </td>
            </tr>
             <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>bg-color</th>
                <td><code>333333</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;dummyimage&quot; bg-color=&quot;333333&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="dummyimage" bg-color="333333"></fill-image>
                </td>
            </tr>
             <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>text-color</th>
                <td><code>eeeeee</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;dummyimage&quot; text-color=&quot;eeeeee&quot;&gt;&lt;/fill-image&gt;</code>
                    <br> Note: BgColor is required for text color to work. If no BgColor is provided, it will fall back to <code>#333</code>
                </td>
                <td>
                    <fill-image service="dummyimage" text-color="eeeeee"></fill-image>
                </td>
            </tr>
             <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>format</th>
                <td><code>png</code>
                    <br><code>jpg</code>
                    <br><code>jpeg</code>
                    <br><code>gif</code>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;dummyimage&quot; format=&quot;png&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="dummyimage" format="png"></fill-image>
                </td>
            </tr>
             <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>std-size</th>
                <td><code>mediumrectangle</code>
                    <br> <code>wvga</code>
                    <br> <code>hd720</code>
                    <br> <a target="_blank" href="http://dummyimage.com/#standards">More Here</a>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;dummyimage&quot; std-size=&quot;cga&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="dummyimage" std-size="cga"></fill-image>
                </td>
            </tr>
             <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
