<h2 class="main-section__title"><a href="http://lorempixel.com/" target="_blank">lorempixel.com</a></h2>
<div class="data-table-container main-section__content">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr class="text-center">
                <th>Attribute</th>
                <td>Value</td>
                <td>Usage</td>
                <td>Output</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>service</th>
                <td><code>lorempixel</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;lorempixel&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="lorempixel"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>size</th>
                <td><code>200</code> or <code>250x250</code></td>
                <td><code>&lt;fill-image service=&quot;lorempixel&quot; size=&quot;200&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;lorempixel&quot; size=&quot;100x150&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="lorempixel" size="200"></fill-image>
                    <br>
                    <br>
                    <fill-image service="lorempixel" size="100x150"></fill-image>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>effect</th>
                <td><code>grayscale</code>
                    <br><code>color</code>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;lorempixel&quot; effect=&quot;grayscale&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;lorempixel&quot; effect=&quot;color&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="lorempixel" effect="grayscale"></fill-image>
                    <fill-image service="lorempixel" effect="color"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>category</th>
                <td><code>abstract</code>
                    <br> <code>city</code>
                    <br> <code>people</code>
                    <br> <a target="_blank" href="http://lorempixel.com/">More Here</a>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;lorempixel&quot; category=&quot;nightlife&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="lorempixel" category="nightlife"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>text</th>
                <td><code>random text</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;lorempixel&quot; text=&quot;fill-image is awesome!!&quot;&gt;&lt;/fill-image&gt;</code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;lorempixel&quot; text=&quot;fill-image is awesome!!&quot; category=&quot;fashion&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="lorempixel" text="fill-image is awesome!!"></fill-image> 
                    <fill-image service="lorempixel" category="fashion" text="fill-image is awesome!!"></fill-image>
                </td>
            </tr>
             <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
