<h2 class="main-section__title"><a href="http://placekitten.com/" target="_blank">placekitten.com</a></h2>
<div class="data-table-container main-section__content">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr class="text-center">
                <th>Attribute</th>
                <td>Value</td>
                <td>Usage</td>
                <td>Output</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>service</th>
                <td><code>placekitten</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;placekitten&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="placekitten"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>size</th>
                <td><code>250x250</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;placekitten&quot; size=&quot;200x300&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="placekitten" size="200x300"></fill-image>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>effect</th>
                <td><code>grayscale</code>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;placekitten&quot; effect=&quot;grayscale&quot;size=&quot;200x286&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                </td>
                <td>
                    <fill-image service="placekitten" size="200x286" effect="grayscale"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
