<h2 class="main-section__title"><a href="http://placeimg.com/" target="_blank">placeimg.com</a></h2>
<div class="data-table-container main-section__content">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr class="text-center">
                <th>Attribute</th>
                <td>Value</td>
                <td>Usage</td>
                <td>Output</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>service</th>
                <td><code>placeimg</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;placeimg&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="placeimg"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>size</th>
                <td><code>200</code> or <code>250x250</code></td>
                <td><code>&lt;fill-image service=&quot;placeimg&quot; size=&quot;200&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;placeimg&quot; size=&quot;100x150&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="placeimg" size="200"></fill-image>
                    <br>
                    <br>
                    <fill-image service="placeimg" size="100x150"></fill-image>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>effect</th>
                <td><code>grayscale</code>
                    <br><code>sepia</code>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;placeimg&quot; effect=&quot;grayscale&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;placeimg&quot; effect=&quot;sepia&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="placeimg" effect="grayscale"></fill-image>
                    <fill-image service="placeimg" effect="sepia"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>category</th>
                <td><code>animals</code>
                    <br> <code>arch</code>
                    <br> <code>nature</code>
                    <br> <code>people</code>
                    <br> <code>tech</code>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;placeimg&quot; category=&quot;animals&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="placeimg" category="animals"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
