<h2 class="main-section__title"><a href="http://placeskull.com/" target="_blank">placeskull.com</a></h2>
<div class="data-table-container main-section__content">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr class="text-center">
                <th>Attribute</th>
                <td>Value</td>
                <td>Usage</td>
                <td>Output</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>service</th>
                <td><code>placeskull</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;placeskull&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="placeskull"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>size</th>
                <td><code>200</code> or <code>250x250</code></td>
                <td><code>&lt;fill-image service=&quot;placeskull&quot; size=&quot;200&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;placeskull&quot; size=&quot;100x150&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="placeskull" size="200"></fill-image>
                    <br>
                    <br>
                    <fill-image service="placeskull" size="100x150"></fill-image>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>bg-color</th>
                <td><code>2554C7</code></td>
                <td><code>&lt;fill-image service=&quot;placeskull&quot; bg-color=&quot;#2554C7&quot;&gt;&lt;/fill-image&gt; </code>
                  
                </td>
                <td>
                    <fill-image service="placeskull" bg-color="#2554C7"></fill-image>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
             <tr>
                <th>category</th>
                <td><code>numbers between 1 & 45 inclusive</code>
                <br>
                <a href="http://placeskull.com/" target="_blank">More Info</a></td>
                <td><code>&lt;fill-image service=&quot;placeskull&quot; category=&quot;9&quot;&gt;&lt;/fill-image&gt; </code>
                  
                </td>
                <td>
                    <fill-image service="placeskull" category="9"></fill-image>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
