<h2 class="main-section__title"><a href="http://placecage.com/" target="_blank">placecage.com</a></h2>
<div class="data-table-container main-section__content">
    <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead>
            <tr class="text-center">
                <th>Attribute</th>
                <td>Value</td>
                <td>Usage</td>
                <td>Output</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>service</th>
                <td><code>placecage</code></td>
                <td>
                    <code>&lt;fill-image service=&quot;placecage&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="placecage"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>size</th>
                <td><code>200</code> or <code>250x250</code></td>
                <td><code>&lt;fill-image service=&quot;placecage&quot; size=&quot;200&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;placecage&quot; size=&quot;100x150&quot;&gt;&lt;/fill-image&gt;</code>
                </td>
                <td>
                    <fill-image service="placecage" size="200"></fill-image>
                    <br>
                    <br>
                    <fill-image service="placecage" size="100x150"></fill-image>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
            <tr>
                <th>effect</th>
                <td><code>grayscale</code>
                    <br><code>crazy</code>
                    <br><code>gif</code>
                </td>
                <td>
                    <code>&lt;fill-image service=&quot;placecage&quot; effect=&quot;grayscale&quot;&gt;&lt;/fill-image&gt; </code>
                    <br>
                    <br>
                    <code>&lt;fill-image service=&quot;placecage&quot; effect=&quot;crazy&quot;&gt;&lt;/fill-image&gt; </code><br>
                    <br>
                    <code>&lt;fill-image service=&quot;placecage&quot; effect=&quot;gif&quot;&gt;&lt;/fill-image&gt; </code>
                </td>
                <td>
                    <fill-image service="placecage" effect="grayscale"></fill-image>
                    <fill-image service="placecage" effect="crazy"></fill-image>
                    <fill-image service="placecage" effect="gif"></fill-image>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="divider divider--dark"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
